<!-- Модальное окно, которое можно включать в другие страницы -->
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true" th:fragment="defaultModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <h5 class="modal-title" id="defaultModalLabel"></h5>
                <!-- Кнопка для закрытия модального окна -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Тело модального окна -->
            <div class="modal-body">
            </div>
            <!-- Футер модального окна -->
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>