<!-- Таблица для отображения информации о пользователе -->
<table class="table viewUserTable" th:fragment="viewUserTable" style="display:none;">
    <tbody>
    <tr>
        <th class="text-right border-0" scope="row">ID</th>
        <td class="border-0" id="id"></td>
    </tr>
    <tr>
        <th class="text-right border-0" scope="row">Username</th>
        <td class="border-0" id="username"></td>
    </tr>
    <tr>
        <th class="text-right border-0" scope="row">First Name</th>
        <td class="border-0" id="firstname"></td>
    </tr>
    <tr>
        <th class="text-right border-0" scope="row">Last Name</th>
        <td class="border-0" id="lastname"></td>
    </tr>
    <tr>
        <th class="text-right border-0" scope="row">Age</th>
        <td class="border-0" id="age"></td>
    </tr>
    <tr>
        <th class="text-right border-0" scope="row">Email</th>
        <td class="border-0" id="email"></td>
    </tr>
    </tbody>
</table>